<div class="product-module">
    <!-- Building {{model}}! -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">SHOES TYPE</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li ng-repeat="item in glassestype track by $index" ng-class="item.className" ng-click="select($index, item.id)">
                        <a>{{item.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="women_main">
        <!-- start content -->
        <div class="w_content">
            <div class="women">
                <a href="#"><h4>Enthecwear - <span>4449 items</span> </h4></a>
                <ul class="w_nav">
                    <li>Sort : </li>
                    <li><a class="active" href="#">popular</a></li> |
                    <li><a href="#">new </a></li> |
                    <li><a href="#">discount</a></li> |
                    <li><a href="#">price: Low High </a></li>
                    <div class="clear"></div>
                </ul>
                <div class="clearfix"></div>
            </div>
            <!-- grids_of_4 -->
            <div class="grids_img">
                <div class="grid1" ng-repeat="item in pictures | test: type track by $index">
                    <div class="content_box">
                        <a href="">
                            <img src="{{item.img}}" class="grids_img" alt="">
                        </a>
                        <h4><a href="">AIR JORDAN</a></h4>
                        <p>It is a long established fact that</p>
                        <div class="grid_1 simpleCart_shelfItem">
                            <div class="item_add"><span class="item_price"><h6>ONLY $109.00</h6></span></div>
                            <div class="item_add"><span class="item_price"><a href="">add to cart</a></span></div>
                        </div>
                    </div>
                </div>
               
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>