{
	
	"env": {
	    "browser": true
	 },
	 "globals": {
	    "window": true
	 },
	 "rules": {
	    "eqeqeq": 2,//必须使用全等
	    "brace-style": [2, "1tbs"], //大括号风格
	    "quotes": [2, "single"], // 强制使用单引号
	    "semi": [2, "always"], //分号结尾
	    "no-extra-semi": 2,//多余分号
	    "default-case": 2,//switch语句最后必须有default
	    "block-scoped-var": 0, /// 在块级作用域外访问块内定义的变量是否报错提示
	    "comma-dangle": [2, "never"], // 数组和对象键值对最后一个逗号， never参数：不能带末尾的逗号, always参数：必须带末尾的逗号
	    "comma-style": [2, "last"], // 控制逗号在行尾出现还是在行首出现
	    "space-infix-ops": 2,//中缀左右必须空格
	    "space-before-function-paren": [2, "never"],//函数定义时括号前面不要有空格
	    "space-before-blocks": [2, "always"],//不以新行开始的块{前面要不要有空格
	    "comma-spacing": [2, {"before": false, "after": true}],  // 控制逗号前后的空格
	    "key-spacing": [2, { "beforeColon": false, "afterColon": true }],//对象字面量中冒号的前后空格
	    "space-after-keywords": "off",
    	"keyword-spacing": [2, {"before": true, "after": true}]//关键字后面是否要空一格
	}
}