body {
	/* background: @color-bg; */
	font-family: Avenir,Helvetica,Arial,sans-serif;
}

.header {
	height: 60px;
	box-shadow: 0px 1px 5px #ccc;
	line-height: 60px;
	background: @color-white;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
	@media (max-width: @tablet) {
		z-index: 10;
	}
}
.container-device {
	@media(max-width: @tablet) {
		width: 100%;
	}
}
.menu-icon {
	display: none;
	@media (max-width: @tablet) {
		font-size: @font-20;
		color: #999;
		cursor: pointer;
		display: inline-block;
	}
}
#dLabel {
	cursor: pointer;
}
.dropdown {
	.downIcon {
		color: #999;
	}
	.menu-list {
		right: 0px;
		width: 160px;
		left: auto;
		i {
			margin-right: 5px;
		}
	}
}
.content {
	@media (max-width: @tablet) {
		width: 100%;
	}
}
.close-menu {
	color: @color-blue;
	cursor: pointer;
	font-size: @font-20;
	margin-top: 10px;
	margin-right: 20px;
}
.logo {
	width: 100px;
}
.userPic {
	width: 50px;
}